

.search{
    z-index: 999;
    width: 90px;
    right: 160px;
   position: absolute;
   text-align: left;
   
}


form {
    background-color: #8f96dd;
    width: 250px;
    height: 51px;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
   
  }

  input {
    all: unset;
    font: 16px system-ui;
    color: #fff;
    height: 100%;
    width: 185px;
    padding: 6px 10px;
  }

  ::placeholder {
    color: #fff;
    opacity: 0.7; 
  }

  .button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
    right: 10px;
    position: relative;
  
  }
  
  svg {
    color: #fff;
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 10px;
  }

/* Dropdown Button */
.dropbtn {
    background-color:rgb(23, 186, 214);
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    width: 20px;
    position: relative;
   z-index: 999;
    min-width: 55px!important;
    max-width: 55px!important;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0;
    height: 51px;

}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    width: 50px;
    
    height: 57px;
   top: 0;
}
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(213, 213, 231);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
    border-radius: 5px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #7b997c;}


.menuicon{
    width: 90% ;
    height: 40px;
   top: -4px;
   right: .5px;
position: relative;
}
/*LOGO*/
.title{
   background-color:rgb(245, 245, 233);
    position: absolute;
    margin: auto;
 width: 100%;
  height: 51px;
  display: inline;
text-align: center;
z-index: 998;
}

/*BODY*/
body{
    margin: 0;
    background-color: rgb(245, 245, 233);
    top: px;
    position: relative;
}
.stocktickers{
    background-color: red;
    height: 120px;
    margin: auto;
    top: -9px;
    position: relative;
}

.topperformers{
    background-color: purple;
    width: 40%;
    height: 300px;
    top: -9px;
    position: relative;
    margin: 0;
    left: 0;
}

.trending{
    background-color: rgb(49, 171, 171);
    width: 60%;
    right: 0;
    position: absolute;
    top: 152px;
    height: 300px;
}

.totd{
    background-color: green;
    position: relative;
    margin: auto;
    height: 50px;
    width: 100%;
    top: -9px;
}

